# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# Backend
PORT=3001
GLOBAL_PREFIX=api
JWT_SECRET=super-secret-key
JWT_EXPIRATION=3600s

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=comp_docs
POSTGRES_PASSWORD=comp_docs
POSTGRES_DB=comp_docs
DATABASE_URL=postgresql://comp_docs:comp_docs@postgres:5432/comp_docs

# File storage
UPLOAD_DIR=/app/storage/uploads
REPORTS_DIR=/app/storage/reports
